#wrapper {
    width: 100%;
    /*border: 1px solid black;*/
    overflow: hidden;
}

#histogram {
    width: 70%;
    float:left;
    /*border: 1px solid red;*/
}
#buttons {
    /*border: 1px solid green;*/
    float: left;
}

button {
    width: 90px;
    height: 40px;
    margin-bottom: 20px;
}